html, body{
	margin-left:20px; margin-right:20px; 
	padding:5px; 
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

table {   
	border-collapse:collapse;
	border-bottom:1px solid gray;
	font-family: Tahoma,Verdana,Segoe,sans-serif;
	width:80%;
}
 
th {
	border-bottom:1px solid gray;
	background:none repeat scroll 0 0 #4CAF50;
	padding:10px;
	color: #FFFFFF;
}

tr {
	border-top:1px solid gray;
	text-align:center;	
}
 
tr:nth-child(even) {background: #FFFFFF}
tr:nth-child(odd) {background: #BBBBBB}	


#wrapper {width: 80%; margin-top: 0px; }
#header {width: 100%; background: #4CAF50; margin-top: 0px; padding:15px 0px 15px 15px;}
#header h2 {width: 100%; margin:auto; color: #FFFFFF;}
